<template name="home">
  <div class="panel">
    <section class="panel__item--left portable-one-third desk-and-up-one-third background--fill floating--left" style="background-image:url(//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_dg0ddngxdz549.cloudfront.net/newspring/editorial/default/cedar.2to1_1700_850_90_c1.jpg)">{{!--

      --}}<div class="floating__item push-left palm-push-double-top">
        <h1 class="text-white">NewSpring Green</h1>
        <h4 class="text-white">A living styleguide</h4>
      </div>{{!--

--}}</section>
    <section class="panel__item--right portable-two-thirds desk-and-up-two-thirds scrollable floating">{{!--
      <div class="constrain-copy lap-and-up-push-double-top">
        --}}<div class="floating__item"><form>
          <fieldset>
            <legend>
              Sign In
            </legend>

            <div class="input">
              <label for="email">Email</label>
              <input name="email" data-value="" placeholder="name@address.com"/>
            </div>

            <div class="input">
              <label for="password">Password</label>
              <input name="password" data-value="" type="password" placeholder="Password"/>
            </div>

          </fieldset>
          <button class="round fa fa-rebel icon--filled icon--loading" type="submit"></button>
        </form>
        {{!--
        {{> introduction}}
        <hr class="lap-and-up-push-double-ends">
        {{> bem}}
        <hr class="lap-and-up-push-double-ends">
        {{> typography}}

        <hr class="lap-and-up-push-double-ends">
        {{> color}}
        <hr class="lap-and-up-push-double-ends">



        <hr class="lap-and-up-push-double-ends">

        {{> variables}}
        {{> mixins}}

        {{> objects}}
        {{> complexObjects}}
        --}}

      </div>
    </section>
  </div>



  {{!--


  --}}
</template>
