<template name="home">
  <div class="panel">
    <section class="panel__item--left portable-one-third desk-and-up-five-twelfths">


    </section>
    <section class="panel__item--right portable-two-thirds desk-and-up-seven-twelfths scrollable">
      {{> introduction}}
      <hr>
      {{> bem}}
      <hr>
      {{> color}}
      <hr>
      {{> typography}}
      <hr>
      {{!--
      {{> variables}}
      {{> mixins}}
      --}}
      {{> objects}}
      {{> complexObjects}}
    </section>
  </div>



  {{!--
    <form>
      <fieldset>
        <legend>
          Sign In
        </legend>

        <div class="input">
          <label for="email">Email</label>
          <input name="email" data-value="" placeholder="name@address.com"/>
        </div>

        <div class="input">
          <label for="password">Password</label>
          <input name="password" data-value="" type="password" placeholder="Password"/>
        </div>

      </fieldset>
      <button class="round fa fa-rebel icon--filled" type="submit"></button>
    </form>



  --}}
</template>
