<template name="home">
  <section>

  </section>

  <section>
    <h1>
      Introduction
    </h1>
    <p>
      Green is a UI kit for all of NewSpring's digital properties. Green provides guidelines for the aesthetic, function and form of user interfaces to provide a consistent experience for our people. This is a living document and is under constant interation.
    </p>
    <div class="grid">
      <div class="grid__item one-whole lap-and-up-one-third">
        <h3>
          Junction Framework
        </h3>
        <p>
          NewSpring uses the in-house developed <a href="https://github.com/NewSpring/junction-framework">Junction Framework</a> as the base styles and css framework for digital properteis. Junction provides Green styling for your application.
        </p>
      </div><div class="grid__item one-whole lap-and-up-one-third">
        <h3>
          Interaction kit
        </h3>
        <p>
          Interaction kit provides a suite of components that are created to match the look & feel of Style kit and follow the Green design guidelines & patterns.
        </p>
      </div><div class="grid__item one-whole lap-and-up-one-third">
        <h3>
          Guidelines & patterns
        </h3>
        <p>
          General design guidelines for Green to create a harmonious user experience regardless of the technical stack of your application.
        </p>
      </div>
    </div>

  </section>
  {{> mixins}}
  {{!--
    {{> complexObjects}}
    {{> variables}}
  --}}
</template>
