<template name="mixins">
  {{#if Template.subscriptionsReady}}
    {{#each mixins}}
      <div class="card soft">
        <h3> {{name}} </h3>
        <p>
          {{description}}
        </p>

        {{#each parameter}}
          {{#if name}}
            <h5>
              {{name}}: {{description}}
            </h5>
          {{/if}}
        {{/each}}

        {{#if scss.example}}
          <pre class="{{#if css.example}}push-bottom{{/if}}"><code>//scss
{{scss.example}}</code></pre>
        {{/if}}

        {{#if css.example}}
          <pre><code>/* css */
{{css.example}}</code></pre>
        {{/if}}

      </div>
    {{/each}}

  {{/if}}

</template>
