<template name="color">

  <h3>Color</h3>

  <p>
    Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla.
  </p>

  {{#if Template.subscriptionsReady}}

    {{#with colors}}
      {{#each variable}}
        <div class="push-bottom">
          <h3> {{name}} </h3>
          <p> {{description}} </p>
          <pre class="push-bottom"><code class="scss">{{markup.example}}: {{value}};</code></pre>
          <div class="grid">{{#each json}}{{!--
        --}}<div class="push-top grid__item one-half lap-and-up-one-quarter">
              <div class="ratio--landscape push-half-bottom" style="background-color:{{value}};">
                <div class="ratio__item">

                </div>
              </div>
              <strong>{{name}}</strong>
              <pre class="push-bottom"><code>{{value}}</code></pre>
            </div>{{!--
          --}}{{/each}}</div>
        </div>
      {{/each}}
    {{/with}}
  {{/if}}
</template>
