<template name="typography">

  <h3>Typography</h3>
  <p>
    Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui.
  </p>

  <h1>h1. Green heading</h1>
  <h2>h2. Green heading</h2>
  <h3>h3. Green heading</h3>
  <h4>h4. Green heading</h4>
  <h5>h5. Green heading</h5>
  <h6>h6. Green heading</h6>
  <p>
    Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla.
  </p>

</template>
